* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.banner-section{
    background-image:url("images/banner-image.jpg");
    width:100vw;
    background-size: cover;
    padding-bottom:170px;

}
.banner-heading{
    padding-left:35px;
    padding-top:95px;
    font-size:40px;
    color:white;
    font-family: "Roboto";
    font-weight:bold;

}
.banner-content{
    font-size:20px;
    color:black;
    padding-left: 35px;
    padding-top:25px;
    width:50%;
   font-family: "Roboto";
   font-weight:600;


}
.navbar-style{
    display:flex;
    justify-content: flex-end;
}
.item-style{
    padding-right:80px;
    color:black;
    font-family:'Lucida Sans Regular';

}
.about-section{
    background-color: white;
    padding:25px;
    display:flex;
    flex-direction: row;

}
.about-content-section{
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.about-section-heading{
    color:black;
    font-size:28px;
    font-family: "Roboto";
    padding-left:20px;
    padding-bottom:20px;
    font-weight: bold;

}
.about-section-content{
    color:black;
    font-size:16px;
    font-family: "Roboto";
    padding-left:20px;
    width:50vw;


}
.about-heading{
    color:black;
    font-size:20px;
    font-family: "Roboto";
    padding-left:20px;
    font-weight: 600;
}
.about-img{
    width:45vw;
    height:90%;
    padding-left:20px ;
    padding-right:20px ;
    padding-top: 40px;
}

.courses-section{
    background-color: #7FA3B9;
    padding:30px;
}
.courses-heading{
    font-size:28px;
    text-align: center;
    color:white;
    font-family: "Roboto";
    font-weight:bold;
}
.course-card{
    background-color: white;
    text-align: center;
    padding:20px;
}


 
  .course-image {
    border-radius: 16px;
    height:1;
    width:70px;
  }
  .course-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
    text-align: center;
  }
  .course-button {
  
   background-color:black;
   color:white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    border-radius: 15px;
    width:50%
   
  }
  .course-card {
    border-radius: 16px;
    height:60%;
    width:20%;
    margin: 25px;
  }
.course-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

}  

.logo {
    height: 120px;
    width: 230px;
}

.follow-us-icon-container {
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 8px;
    padding-top: 15px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 17px;
}

.icon {
    color:#7FA3B9;
    font-size: 15px;
}

.footer__plr {
    padding-top: 250px;
}

.footer__number-info {
    margin-bottom: 15px;
}

.footer__number-info a {
    color: var(--it-common-white);
    transition: 0.3s;
    line-height: 25px;
}

.footer__number-info a:hover {
    color: #1da72c;
}

.footer__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--it-common-white);
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer__menu-list ul li {
    list-style: none;
    padding-bottom: 10px;
}

.footer__menu-list ul li a {
    color: var(--it-common-white);
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
}

.footer__menu-list ul li a:hover {
    color: #7FA3B9;
}

.footer__content p {
    color: var(--it-common-white);
    font-weight: 400;
}

.footer__social-box a {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: 1px solid #a1a1a2;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    transition: 0.3s;
}

.footer__social-box a i {
    color: #a1a1a2;
    transition: 0.3s;
}

.footer__social-box a:hover {
    border: 1px solid #1da72c;
    background-color: #1da72c;
}

.footer__social-box a:hover i {
    color: #fff;
}

.footer-2__plr {
    padding-top: 15px;
}

.footer-2__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--it-common-white);
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer-2__menu-list ul li {
    list-style: none;
    padding-bottom: 10px;
}

.footer-2__menu-list ul li a {
    color: var(--it-common-white);
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
}

.footer-2__menu-list ul li a:hover {
    color: #1da72c;
}

.footer-2__content p {
    color: var(--it-common-white);
    font-weight: 400;
}

.footer-2__social-box a {
    height: 33px;
    width: 33px;
    border-radius: 50%;
    border: 1px solid #a1a1a2;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    transition: 0.3s;
}

.footer-2__social-box a i {
    color: #a1a1a2;
    transition: 0.3s;
}

.footer-2__social-box a:hover {
    background-color: #1da72c;
    border: 1px solid transparent;
}

.footer-2__social-box a:hover i {
    color: var(--it-common-black);
}

.footer-3__plr {
    padding-top: 250px;
}

.footer-3__logo {
    padding-bottom: 35px;
}

.footer-3__text p {
    color: var(--it-common-white);
    padding-right: 45px;
}

.footer-3__social-box a {
    height: 33px;
    width: 33px;
    border:solid 1px #232323;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    transition: 0.3s;
    border-radius: 5px;
}

.footer-3__social-box a i {
    color: var(--it-theme-1);
    transition: 0.3s;
}

.footer-3__social-box a:hover {
    background-color: var(--it-theme-1);
    border: 1px solid transparent;
}

.footer-3__social-box a:hover i {
    color: var(--it-common-black);
}

.footer-3__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--it-common-white);
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer-3__menu-list ul li {
    list-style: none;
    padding-bottom: 10px;
    width: 50%;
    float: left;
}

.footer-3__menu-list ul li a {
    color: var(--it-common-white);
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
}

.footer-3__menu-list ul li a i {
    padding-right: 10px;
}

.footer-3__menu-list ul li a:hover {
    color: var(--it-theme-1);
}

.footer-3__content-text h4 {
    font-weight: 600;
    font-size: 14px;
    color: var(--it-common-white);
    margin-bottom: 0;
    line-height: 1.4;
    transition: 0.3s;
}

.footer-3__content-text h4:hover {
    color: var(--it-theme-1);
}

.footer-3__input {
    position: relative;
    margin-bottom: 30px;
}

.footer-3__input form input {
    background-color: var(--it-common-white);
    border: 0;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
}

.footer-3__input form button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--it-theme-1);
    border: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--it-common-white);
    border-radius: 5px;
}

.footer-3__input form button:hover {
    background-color: var(--it-theme-2);
}

.footer-3__copy-right {
    border-top: 1px solid var(--it-common-white);
    padding-top: 25px;
    margin-top: 25px;
    color: var(--it-common-white);
    font-weight: 400;
}

.footer-4__logo {
    padding-bottom: 35px;
}

.footer-4__text p {
    color: var(--it-common-white);
    padding-right: 45px;
}

.footer-4__social-box a {
    height: 33px;
    width: 33px;
    border:solid 1px #232323;
    display: inline-block;
    line-height: 33px;
    text-align: center;
    margin-right: 5px;
    transition: 0.3s;
    border-radius: 5px;
}

.footer-4__social-box a i {
    color: var(--it-theme-1);
    transition: 0.3s;
}

.footer-4__social-box a:hover {
    background-color: var(--it-theme-1);
    border: 1px solid transparent;
}

.footer-4__social-box a:hover i {
    color: var(--it-common-black);
}

.footer-4__title {
    font-weight: 700;
    font-size: 22px;
    color: var(--it-common-white);
    padding-bottom: 30px;
    padding-top: 20px;
}

.footer-4__menu-list ul li {
    list-style: none;
    padding-bottom: 10px;
    width: 50%;
    float: left;
}

.footer-4__menu-list ul li a {
    color: var(--it-common-white);
    font-weight: 400;
    font-size: 16px;
    transition: 0.3s;
}

.footer-4__menu-list ul li a i {
    padding-right: 10px;
}

.footer-4__menu-list ul li a:hover {
    color: var(--it-theme-1);
}

.footer-4__content-text h4 {
    font-weight: 600;
    font-size: 14px;
    color: var(--it-common-white);
    margin-bottom: 0;
    line-height: 1.4;
    transition: 0.3s;
}

.footer-4__content-text h4:hover {
    color: var(--it-theme-1);
}

.footer-4__input {
    position: relative;
    margin-bottom: 30px;
}

.footer-4__input form input {
    background-color: var(--it-common-white);
    border: 0;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border-radius: 5px;
}

.footer-4__input form button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--it-theme-1);
    border: 0;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--it-common-white);
    border-radius: 5px;
}

.footer-4__input form button:hover {
    background-color: var(--it-theme-2);
}

.footer-4__copy-right {
    border-top: 1px solid var(--it-common-white);
    padding-top: 25px;
    margin-top: 25px;
    color: var(--it-common-white);
    font-weight: 400;
}

