* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.banner-section{
    background-color:#9025D2;
    width:100vw;
    background-size: cover;
    padding-bottom:5px;
    padding-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;

}
.banner-span{
    font-size:70px;
}
.banner-heading{
    padding-left:35px;
    padding-top:65px;
    font-size:50px;
    color:white;
    font-family: "Roboto";
    font-weight:bold;

}
.banner-heading-1{
    padding-left:40px;
    font-size:40px;
    color:white;
    font-family: "Roboto";
    font-weight:bold;

}
.banner-content{
    font-size:24px;
    color:#EFCB0B;
    padding-left: 40px;
   font-family: "Roboto";
   font-weight:600;

}
.explore-button{
    padding:7px;
    padding-left:18px;
    padding-right:18px;
    text-align:center;
    color:#9025D2;
    font-size:18px;
    margin-left:35px;
    margin-top:25px;
    font-weight:500;
    border-radius:8px;
    border-width:0px;
}
.navbar-style{
    display:flex;
    justify-content: flex-end;
}
.item-style{
    padding-right:80px;
    font-family:"Roboto";

}
.nav-bg-color{
    background-color:#9025D2;
}
.navbar-color{
    color:white;
    font-size:18px;
    font-weight:bold;
}
.nav-link{
    color:white;
    font-weight: 500;
    font-size:17px;
}
.banner-img{
    padding-right:100px;
}
.about-section{
    background-color: white;
    padding:25px;
    display:flex;
    flex-direction: row;

}
.about-content-section{
    display:flex;
    flex-direction: column;
    padding: 20px;
}
.about-section-heading{
    color:black;
    font-size:28px;
    font-family: "Roboto";
    padding-left:20px;
    padding-bottom:20px;
    font-weight: bold;

}
.about-section-content{
    color:black;
    font-size:16px;
    font-family: "Roboto";
    padding-left:20px;
    width:50vw;


}
.about-heading{
    color:black;
    font-size:20px;
    font-family: "Roboto";
    padding-left:20px;
    font-weight: 600;
}
.about-img{
   
    padding-left:20px ;
    padding-right:20px ;
    padding-top: 60px;
}
